* {
  font-family: "Georgia", sans-serif;
  background-color: rgb(26, 26, 26);
  color: white;
}

div {
  position: relative;
}

ul {
  padding-inline-start: 0%;
}

.heading,
.subheading {
  color: rgb(139, 30, 30);
}

#rainbow-text {
  background-image: linear-gradient(to left, violet, indigo, blue, green); -webkit-background-clip: text;
  color: transparent;
}

.subheading {
  font-size: 24px;
  font-weight: 700;
}

.heading {
  text-align: center;
  font-weight: 800;
  font-size: 52px;
  text-decoration: underline;
  padding-top: 1cm;
}

.link {
  text-decoration: none;
  font-size: 36px;
  color: #777621;
}

.back-link {
  text-decoration: none;
  font-size: 36px;
  color: rgb(194, 194, 78);
  background-color: rgb(20, 20, 20);
}

.main-list {
  list-style: none;
  text-align: center;
  line-height: 2;
  background-color: rgb(37, 37, 37);
  margin: 0%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1cm;
}

.ul,
.ol {
  line-height: 1.5;
}

.ol {
  padding-bottom: 2cm;
}

.footer {
  text-align: center;
  background-color: rgb(20, 20, 20);
}

.subheading2 {
  font-size: 12px;
  text-decoration: underline;
}

.link-box {
  box-sizing: content-box;
  padding: 16px;
  width: 400px;
  border: 5px solid rgb(34, 33, 119);
  margin: 54px auto 28px;
}

.pizza-img {
  width: 100px;
  padding: 0%;
  position: absolute;
  bottom: 0px;
  left: 670px;
}

.burger-img {
  height: 70px;
  padding: 0%;
  position: absolute;
  bottom: -5px;
  right: 710px;
}